<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        insert into order_detail
        (name, order_id, dish_id, setmeal_id, dish_flavor, number, amount, image)
        values
        <foreach collection="details" item="od" separator=",">
            (#{od.name},#{od.orderId},#{od.dishId},#{od.setmealId},#{od.dishFlavor},#{od.number},#{od.amount},#{od.image})
        </foreach>
    </insert>
    <select id="countTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name as name, sum(od.number) as number
        from orders o,
        order_detail od
        where o.id = od.order_id
        and o.status = 5
        <if test="beginTime != null">
            and o.order_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null">
            and o.order_time &lt;= #{endTime}
        </if>
        group by od.name
        order by number desc
        limit 0, 10
    </select>
</mapper>
